h1 {
    text-align: center;
    font-family: product Sans, sans-serif;
    font-size: 100px;
    padding: 20px;
}

.Inp {
    text-align: center;
    padding: 20px;

}

.txt {
    border-radius: 30px;
    padding: 15px;
    width: 600px;

}

.Btn {
    text-align: center;
    padding: 20px;
}

body {
    display: grid;
    height: 100dvh
}

.container {
    text-align: right;
}
